.topbox {
    margin-bottom: 10px;
}

.content {
    border:3px solid #39c5bb;
}

.alertbox {
    border:1px solid red;
    font-size: 14px;
}
.time {
    display: inline-block;
    font-size: 13px;
    background-color: #39c5bb;
}

.blog_list_title {
    color:black;
    font-size: 18px;
    text-decoration: none;
}

.edit_btn {
    font-size: 16px;
    text-decoration: none;
    background-color: yellowgreen;
}
.delete_form {
    display: inline-block;
}
.delete_btn {
    cursor: pointer;
    border: none;
    font-size: 15px;
    background-color: #ed5656;
}

.form-group > textarea {
    min-height: 200px;
}