<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">
    <title>{%block title %} {%endblock %}</title>
</head>

<body>
    <div class="topbox">
        <a href="{{url_for('index')}}">YXY博客</a>&nbsp;
        <a href="{{url_for('about')}}">关于YXY-BLOG</a>&nbsp;
        <a href="{{url_for('new')}}">编写博客</a>&nbsp;
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alertbox">{{message}}</div>
    {% endfor %}
    <div class="content">{%block content %} {%endblock %}</div>
    <br>
    <!-- <span>{{202302072200}}</span> -->
</body>
</html>