<!--博客展示页，页面结构继承于base.html-->
{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %}{{ blog['title'] }}{% endblock %}</h2>
    <p>{{ blog['content'] }}</p>
    <div class="time">{{blog['created']}}</div>
    <a class="edit_btn" href="{{ url_for('edit', blog_id=blog['id']) }}">编辑</a>
    <form class="delete_form" action="{{url_for('delete',blog_id=blog['id'])}}" method="POST">
        <input class="delete_btn" type="submit" value="删除文章" onclick="return confirm('确定要删除吗？')"></input>
    </form>
{% endblock %}
